@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}
html{
    scroll-behavior: smooth;
}

/* ***************** */
/* SECCION I N I C I O */
/* ***************** */
#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#inicio header{
    width: 100%;
}
#inicio header .contenido-header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}
#inicio header .contenido-header nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#inicio header .contenido-header nav ul{
    display: flex;
    list-style: none;
}
#inicio header .contenido-header .logo{
    color: #ff8f46;
    font-size: 22px;
}
#inicio header .contenido-header nav ul li{
    text-align: center;
}
#inicio header .contenido-header nav ul li i{
    display: block;
    color: #a8a8a8;
    margin-bottom: 10px;
}
#inicio header .contenido-header nav ul li a{
    display: block;
    text-decoration: none;
    color:#a8a8a8;
    margin: 0px 20px;
}
#inicio header .contenido-header nav ul li:hover i{
    color: #ff8f46;
}
#inicio header .contenido-header .social a{
    display: inline-block;
    background-color: #ff8f46;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}
#inicio header .contenido-header .social > i{
    display: inline-block;
    color: #a8a8a8;
    margin-left: 10px;
}
.nav-responsive{
   display: none;
   font-size: 25px;
   color: #a8a8a8;
}

/* Carrusel */
#inicio .carrusel{
    position: relative;
    height: 100%;
}
#inicio .carrusel .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    text-align: center;
    color:#fff;
}
#inicio .carrusel .info h2{
    font-size: 70px;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
}
.eslogan{
    font-size: 40px;
}

#inicio .gallery {
    width: 100%;
    height: 100%;
}
  
#inicio .gallery-cell {
    width: 100%;
    margin-right: 10px;
    height: 100%;
}
#inicio .gallery-cell img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(60%);
}

/* ***************** */
/* SECCION S A B O R E S */
/* ***************** */
#sabores {
    padding: 50px 0;
}
#sabores h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
#sabores .fila {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1100px;
    margin: auto;
    justify-content: center; 
    gap: 20px;
}
#sabores .fila .item {
    display: flex;
    align-items: center; 
    margin: 10px; 
    padding: 5px;
    flex: 0 1 30%; 
    box-sizing: border-box;
}
#sabores .fila .item img {
    max-width: 80px;
    height: auto;
    display: block;
}
#sabores .fila .item:hover {
    background-color: #ff8f46;
}
#sabores .fila .item .info {
    margin-left: 15px;
    font-size: 14px;
}
#sabores button{
    display: block;
    width: fit-content;
    margin: 20px auto 0;
    font-size: 20px;
    border:none;
    background-color: #ff8f46;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

/* ***************** */
/* SECCION P L A T O S */
/* ***************** */
#platos h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
#platos .fila{
    max-width: 1100px;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#platos .fila .item{
    width: 33%;
    position:relative;
    overflow: hidden;
    margin: 10px 0;
}
#platos .fila .item img{
    width: 100%;
    display: block;
    height: 100%;
}
#platos .fila .item p{
    position:absolute;
    width: 100%;
    bottom: -100%;
    padding: 10px;
    background-color:#ff8f46;
    color: #fff;
    transition: .5s;
}
#platos .fila .item:hover p{
    bottom: 0;
}
#platos button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    border:none;
    background-color: #ff8f46;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

/* ***************** */
/* SECCION B L O G*/
/* ***************** */
#blog{
    padding: 50px 0;
}
#blog h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.galeria-blog{
    max-width: 800px;
    margin: 50px auto;
}
.galeria-blog .gallery-cell .item{
    display: flex;
    align-items: center;
    margin: 0 80px;
}
.galeria-blog .gallery-cell img{
    display: block;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ff8f46;
    margin-right: 30px;
}
.galeria-blog .gallery-cell h3{
    margin-bottom: 7px;
}
.galeria-blog .gallery-cell p{
    color: #a8a8a8;
    font-style: italic;
}
#blog button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    border:none;
    background-color: #ff8f46;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
    cursor: pointer;
}

/* ***************** */
/* SECCION C O N T A C TO */
/* ***************** */
#contacto{
    background-color: #ff8f46;
    padding: 50px 0;
}
#contacto .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
#contacto a{
    text-decoration: none;
    color:#fff;
    display: block;
    margin-bottom: 3px;
}
#contacto a:hover{
    text-decoration: underline;
}
#contacto h3{
    margin-bottom: 12px;
}
#contacto .media{
    display: flex;
    align-items: center;
}
#contacto .media i{
    display: block;
    margin-right: 10px;
}
#contacto input{
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
}
#contacto .enviar{
    background-color: #f4721c;
    color: #fff;
    width: fit-content;
    margin-top: 15px;
    cursor: pointer;
}

/* ***************** */
/* SECCION RESPONSIVE COMPLETA */
/* ***************** */

/* Tablets medianos */
@media screen and (max-width:1070px) {
    #inicio header .contenido-header .social{
        display: none;
    }
    #inicio header .contenido-header nav{
        position: static;
        transform: translateX(0);
    }
    #sabores .fila {
        justify-content: center;
    }
    #platos .fila {
        justify-content: center;
    }
}

/* Tablets grandes / medianos */
@media screen and (max-width:900px) {
    #sabores .fila .item {
        flex: 0 1 45%; /* 2 items por fila */
    }
    #platos .fila .item {
        width: 45%; /* 2 items por fila */
    }
}

/* M칩viles / tablets peque침os */
@media screen and (max-width:700px) {
    #sabores .fila .item {
        flex: 0 1 80%; /* 1 item por fila */
        margin: 10px 0;
    }
    #platos .fila .item {
        width: 90%; /* 1 item por fila */
        margin: 10px 0;
    }
    #inicio header .contenido-header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    .nav-responsive{
        display: block;
    }
    #inicio header .contenido-header{
        padding: 20px;
    }
    #inicio header .contenido-header nav.responsive{
        display: block;
        position:absolute;
        left: 0;
        top: 70px;
        width: 100%;
        height: 100vh;
        background-color: #252A2E;
        z-index: 99;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    #contacto .fila{
        display: block;
        text-align: center;
    }
    #contacto .fila h3{
        margin: 20px 0 3px 0;
    }
    #contacto .fila .media{
        display: block;
    }
    #contacto .fila input{
        width: 90%;
    }
}

/* M칩viles peque침os */
@media screen and (max-width:480px){
    #sabores .fila .item {
        flex: 0 1 100%; /* 1 item por fila */
    }
    #platos .fila .item {
        width: 100%; /* 1 item por fila */
    }
    #blog .galeria-blog .gallery-cell .item{
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .galeria-blog .gallery-cell img{
        margin: 0 0 10px 0;
    }
    #inicio .carrusel .info{
        width: 80%;
    }
    #inicio .carrusel .info h2{
        font-size: 40px;
    }
    .eslogan{
        font-size: 25px;
    }
}
